@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'partials/common';
@import 'partials/variables';

header{
    width: 85%;
    margin: 0 auto;

    nav{
        width: 100%;
        height: 60px;
        display: flex;
        border-bottom: 1px solid $horizontal-rule;
        align-items: center;
        .logo{
            width: 50%;
            text-align: left;
        }
        .bottoni{
            width: 50%;
            text-align: right;
            a{
                text-decoration: none;
                margin: 1rem;
                color: $text-color;
                font-weight: 600;
            }& i{
                margin: 0.25rem;
            }
            button{
                border: 2px solid $empty-color;
                border-radius: 3px;
                padding: 0.5rem 0.25rem;
                background: none;
                color: $empty-color;
                font-weight: 600;
               img{
                    width: 15px;
                    line-height: 33px;
                }
            }

        }
    }
}